.popup__picture-content {
    position: relative;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 540px) {
    .popup__picture-content {
        width: calc(100% - 60px);
    }
}
